<%- include('header') -%>

<div style="text-align: center;">
  <img src="<%= logo %>" />

  <a href="https://github.com/foxifyjs/foxify" target="_blank">
    <h1><%= title %></h1>
  </a>
</div>

<%- include('footer') -%>
